version: "3.9"

services:

  backend:
    build:
      context: ./backend
    container_name: backend-container
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build:
      context: ./frontend
    container_name: frontend-container
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always